td,th {
	font-family: verdana;
	padding: 20px;
	margin-left: 80px;
	background-color:powderblue;
}

label {
	vertical-align: top;
	
}

#PlayArea {
	
	padding: 6px;
	margin-right: 0%;
	margin-top:10px;
}

#items_table {
	margin-top: 10px;
	width:100px;
	margin-right:100px;
}

#items_table h2 {
	font-size: 18px;
	margin-top: 0px;
	font-family:Rockwell;
}
